<div class="sign">
  <div class="sign-content">
    <h3>Вход</h3>
    <form class="form" (submit)="signin($event)">
      <app-phone (phone)="data['login'] = $event"></app-phone>
      <input class="password" type="password" placeholder="Пароль" autocomplete="off" name="pass" [(ngModel)]="data['pass']">
      <div class="error" *ngIf="dataError.invalid">
        {{errors[dataError.invalid][language]}}
      </div>
      <div class="buttons">
        <a [routerLink]="'/'+ language + '/forgot'" class="link-forgot">{{t_forgot[language]}}</a>
        <button class="main-button-bold continue" type="submit">{{t_enter[language]}}</button>
        <a routerLink="/{{language}}" class="main-button-bold no-color">{{t_cancel[language]}}</a>
        <span class="text-buttons">
            {{t_or[language]}}
          </span>
        <a routerLink="/{{language}}/signup" class="main-button-bold no-color">{{t_signup[language]}}</a>
      </div>
    </form>
  </div>
</div>
