<ng-container *ngIf="!loading">
	<app-loading></app-loading>
</ng-container>
<div class="contain">

	<mat-tab-group animationDuration="0ms" (selectedIndexChange)="changeTab($event)">
		<mat-tab label="Компания"></mat-tab>
		<mat-tab label="Время работы"></mat-tab>
	</mat-tab-group>
	<ng-container *ngIf="tabIndex === 0">
		<div class="contain__group">
			<div class="contain__group-header">
				<div class="title">
					Информация поставщика
				</div>
			</div>

			<div class="add-section" *ngIf="loading && company">
				<form (keyup)="formCheck()">
					<mat-form-field class="example-full-width">
						<input type="text" placeholder="Название комнании" aria-label="Text" name="name" matInput [(ngModel)]="companyCopy.name">
					</mat-form-field>
					<mat-form-field class="example-full-width">
						<span matPrefix>+380 &nbsp;</span>
						<input type="tel" placeholder="Номер телефона компании" aria-label="Text" [maxLength]="9" name="phone" matInput [(ngModel)]="companyCopy.companyMobile">
					</mat-form-field>
					<mat-form-field class="example-full-width">
						<input type="text" placeholder="Адресс компании" aria-label="Text" name="address" matInput [(ngModel)]="companyCopy.address">
					</mat-form-field>
					<mat-form-field class="example-half" *ngIf="city && city.length > 0">
						<mat-label>Город</mat-label>
						<mat-select #o [(value)]="cityChoose" (selectionChange)="changeCity(o.value)">
							<mat-option *ngFor="let item of city" [value]="item._id">
								{{item.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<div class="pass" *ngIf="user.role === 'provider'">
						<mat-form-field class="example-full-width">
							<input type="text" placeholder="Новый пароль" name="password" (keyup)="passErr = ''" matInput [(ngModel)]="newPass">
						</mat-form-field>
						<p class="status error" *ngIf="passErr">{{passErr}}</p>
						<button *ngIf="newPass.length>0" class="main-button-color" (click)="setNewPass()">Изменить</button>
					</div>
				</form>

        <div class="change-phone" *ngIf="!changePhone" (click)="changePhone = true">
          Изменить номер телефона (для входа в систему)
        </div>

        <ng-container *ngIf="changePhone">
          <div class="group-buttons">
            <div class="left" style="min-width: 400px">
              <form class="form form-pass" style="width: 100%">
                <mat-form-field class="example-full-width">
                  <span matPrefix>+38&nbsp;</span>
                  <input matInput placeholder="Тел." type="tel" name="mobile" pattern="[0-9]*" [(ngModel)]="newPhone" autocomplete="off">
                </mat-form-field>
              </form>
            </div>
            <div class="right" *ngIf="newPhone && newPhone.length === 10" style="margin-left: 0; min-width: 400px">
              <button class="main-button-color" (click)="changePhoneF()">Изменить</button>
            </div>
          </div>
        </ng-container>
<!--				<a [routerLink]="'/work-time'" class="link">Время работы</a>-->
				<div class="group-buttons">
					<div class="left">
						<ng-container *ngIf="companyCopy && companyCopy.img; else upload">
							<div class="mat-chip-file">
								<div class="content">{{companyCopy.img.split('--')[1]}}</div>
								<div class="remove-mat-chip" (click)="companyCopy.img = ''; formCheck()"></div>
							</div>
						</ng-container>
					</div>
					<div class="right" *ngIf="isBlok">
						<button class="main-button-color" (click)="create()">Сохранить</button>
					</div>
				</div>

			</div>
		</div>
	</ng-container>
	<ng-container *ngIf="tabIndex === 1">
		<app-work-time></app-work-time>
	</ng-container>
</div>

<ng-template #upload>
<!--  <app-upload (onFs)="onFs($event)"></app-upload>-->
	<app-upload (onCrop)="onFs($event)" [cropper]="true"  [dir]="'avatar'"></app-upload>

</ng-template>
