.popup-directive{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.popup-directive-bg{
  position: fixed;
  height: 100vh;
  background: #0000006b;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#wrapper.active{
  height: 100vh;
  overflow: hidden;
  -ms-filter: blur(5px);
  filter: blur(5px);
}
