.contain{
  color: #31394D;
  &__group{
    &-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      border-bottom: 1px solid #DFE0EB;
      margin-bottom: 30px;
    }
    .add-section, .edit-section{
      margin-bottom: 50px;
      label{
        width: 100%;
        input{
          width: 100%;
          box-shadow: none;
          border: 0;
          border-bottom: 1px solid #DFE0EB;
          padding: 15px 0;
        }
      }
      .group-buttons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 25px;
        .left, .right{
          display: flex;
          align-items: center;
          width: 50%;
          min-width: 315px;
          margin-bottom: 15px;
        }
        .left{
          justify-content: flex-start;
          .app-upload{
            margin-right: 25px;
          }
        }
        .right{
          justify-content: flex-end;
          margin-left: auto;
          .main-button-color{
            margin-left: 25px;
          }
        }
      }
    }
    .edit-section{
    }
    .main-section{

      .empty-section{
        padding: 15px 0;
        p{
          font-size: 16px;
          line-height: 24px;
          margin: 0;
        }
      }
    }
    .client-section{
      display: flex;
      flex-direction: column;
      input{
        width: 100%;
        box-shadow: none;
        border: 0;
        border-bottom: 1px solid #DFE0EB;
        padding: 15px 0;
        margin-bottom: 15px;
      }
    }
  }
}

.table__name{
  display: flex;
  align-items: center;
  min-height: 75px;
  position: relative;
  &-img, img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    position: absolute;
  }
  &-name{
    color: #000;
    padding-left: 50px;
  }
}

.right-section-table{
  position: relative;
  .trash-btn{
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
  }
  .edit-btn{
    position: absolute;
    right: 50px;
    top: calc(50% - 10px);
  }
}
.mat-elevation-z8{
  box-shadow: none;
}

.bottom-table-date{
  margin-top: 5px;
  color: #C5C7CD;
}
.filter{
  width: 100%;
}
//table
//.table{
//  .table-content{
//    //display: flex;
//    //flex-direction: column;
//    //width: 100%;
//    //.row-h{
//    //  &:hover{
//    //    background: #fff;
//    //  }
//    //}
//    //.row-r{
//    //  &:hover{
//    //    background: rgba(55, 81, 255, 0.04);
//    //  }
//    //}
//    .row-h, .row-r{
//      //display: flex;
//      //align-items: center;
//      //padding: 20px 15px;
//      //width: 100%;
//      //border-bottom: 1px solid #DFE0EB;
//      .col{
//        display: flex;
//        align-items: center;
//        .date{
//          display: flex;
//          flex-direction: column;
//        }
//        &:nth-of-type(1){
//          justify-content: flex-start;
//          width: 40%;
//          .img{
//            display: inline-flex;
//            justify-content: center;
//            width: 40px;
//            height: 40px;
//            overflow: hidden;
//            border-radius: 50%;
//            margin-right: 15px;
//          }
//        }
//        //&:nth-of-type(2){
//        //  justify-content: center;
//        //  width: 20%;
//        //}
//        //&:nth-of-type(3){
//        //  justify-content: center;
//        //  width: 20%;
//        //  min-width: 150px;
//        //}
//        //&:nth-of-type(4){
//        //  justify-content: flex-end;
//        //  width: 20%;
//        //  margin-left: auto;
//        //  span{
//        //    &:nth-of-type(1){
//        //      margin-right: 15px;
//        //    }
//        //  }
//        //}
//      }
//    }
//  }
//}
//
