<ng-container *ngIf="!loading">
	<app-loading></app-loading>
</ng-container>
<div class="contain">
	<div class="contain__group"  *ngIf="addShow">
		<div class="contain__group-header">
			<div class="title">
				Добавить категорию
			</div>
		</div>
		<form class="add-section" (submit)="create($event)">
			<ng-container *ngIf="mainCategoryFilter && mainCategoryFilter.length>0; else emptyGlobal">
				<div>
			      <ng-container *ngFor="let category of categoryArr">
			        <div class="ships" (click)="remCategory(category)" *ngIf="category">
			          <span>{{category.name}}</span>
			          <span class="chips-close"></span>
			        </div>
			      </ng-container>
			    </div>
				<mat-form-field>
					<mat-label>Главная категория</mat-label>
					<mat-select [(value)]="mainCategoryChoose">
						<mat-option *ngFor="let item of mainCategoryFilter" [value]="item._id" (click)="addCategory(item);" >
							{{item.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<div class="group-buttons">
					<div class="left">
					</div>
					<div class="right">
						<button class="main-button" type="reset" (click)="cancelAdd()">Отмена</button>
						<button class="main-button-color" type="submit">Сохранить</button>
					</div>
				</div>
			</ng-container>
		</form>
	</div>
	<div class="contain__group">
		<div class="contain__group-header">
			<div class="title">
				Все категории
			</div>
			<button class="button-add" (click)="openAdd()">
				<span class="content">Добавить категорию</span>
			</button>
		</div>
		<ng-container *ngIf="loading">
			<div class="main-section">
				<app-search-filter [inputApi]="'category'" [inputQuery]="'name'" [queryValue]="'companyOwner'" [querySearch]="user.companyOwner._id" (output)="outputSearch($event)"></app-search-filter>
				<div class="table-content" *ngIf="categorys && categorys.length > 0">
					<div class="content" *ngIf="loading">
						<table *ngIf="categorys && categorys.length > 0" class="table">
							<tr class="t-title">
								<td style="min-width: 200px">Название</td>
								<td>Подкатегории</td>
								<td>Бренды</td>
								<td style="min-width: 180px">Дата</td>
								<td ></td>
							</tr>
							<tr *ngFor="let item of categorys; let i = index">
								<td>
									{{item.name}}
								</td>
                <td>
                  <ng-container *ngIf="item.mainCategory.subCategory && item.mainCategory.subCategory.length>0">
                  <span *ngFor="let sub of item.mainCategory.subCategory">
                    {{sub}}
                  </span>
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="item.mainCategory.brands && item.mainCategory.brands.length>0">
                  <span *ngFor="let brand of item.mainCategory.brands">
                    {{brand.name}}
                  </span>
                  </ng-container>
                </td>
								<td>
									<div class="date">
										<div class="top-table-date">
											{{item.date | date: 'dd MMMM, yyyy' : null : defLang}}
										</div>
										<div class="bottom-table-date">
											{{item.date | date: 'HH:mm' : null : defLang}}
										</div>
									</div>
								</td>
								<td>
									<div class="buttons-edit">
										<span class="trash-btn" (click)="delete(i)"></span>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>

				<mat-paginator [length]="lengthPagination"
				               [pageSize]="pageSizePagination"
				               [pageSizeOptions]="pageSizeOptionsPagination"
				               (page)="pageEvent($event)"
				               *ngIf="categorys && categorys.length > 0">
				</mat-paginator>
				<div class="empty-section" *ngIf="loading && !categorys || categorys.length === 0">
					<p>
						У вас нет созданых категорий
					</p>
				</div>
			</div>
		</ng-container>
	</div>
</div>

<ng-template #emptyGlobal>
	На сервисе нет категорий или же вы добавили все возможные категории. Вы не можете создать категорию. Свяжитесь с администратором сервиса.
</ng-template>
