.add-files-btn {
  float: right;
}

:host {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.actions {
  justify-content: flex-end;
}

.container {
  height: 100%;
}

.green-dialog-btn{
  background: #009688;
  color: #fff;
  &.mat-button-wrapper{
    color: #fff!important;
  }
}
