//fonts
$bold: "Montserrat-Bold", sans-serif;
$medium: "Montserrat-Medium", sans-serif;
$thin: "Montserrat-Thin", sans-serif;
$light: "Montserrat-Light", sans-serif;
$regular: "Montserrat-Regular", sans-serif;

//colors
$main-color: #3ab14c;

