<div class="contain">
	<div class="contain__group">
		<div class="contain__group-header">
			<div class="title">
				Уведомление
			</div>
		</div>
		<form class="add-section" (submit)="create($event)">
			<mat-form-field class="example-full-width">
				<input matInput type="text" placeholder="Заголовок" name="name" [(ngModel)]="notification.title" autocomplete="off">
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<input matInput type="text" placeholder="Описание" name="description" [(ngModel)]="notification.description" autocomplete="off">
			</mat-form-field>
			<div class="block-check">
				<mat-checkbox class="check-item" [(ngModel)]="globalAction" name="global" (change)="changeTypeActionGlobal()">Глобальное уведомление</mat-checkbox>
				<mat-checkbox class="check-item" [(ngModel)]="cityAction" name="city" (change)="changeTypeActionCity()">Для города</mat-checkbox>
				<mat-checkbox class="check-item" [(ngModel)]="userAction" name="user" (change)="changeTypeActionUser()">Для клиента</mat-checkbox>
			</div>
			<div class="chips-box" *ngIf="userChoose && userChoose.length > 0">
				<mat-chip-list aria-label="Fish selection">
					<mat-chip class="chip-item" *ngFor="let item of userChoose; let index = index">
						{{item.login}}
						<div class="remove" (click)="removeUserChip(index)">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="15" height="15" fill="#c1c1c1">
								<path d="M 6.496094 1 C 5.675781 1 5 1.675781 5 2.496094 L 5 3 L 2 3 L 2 4 L 3 4 L 3 12.5 C 3 13.328125 3.671875 14 4.5 14 L 10.5 14 C 11.328125 14 12 13.328125 12 12.5 L 12 4 L 13 4 L 13 3 L 10 3 L 10 2.496094 C 10 1.675781 9.324219 1 8.503906 1 Z M 6.496094 2 L 8.503906 2 C 8.785156 2 9 2.214844 9 2.496094 L 9 3 L 6 3 L 6 2.496094 C 6 2.214844 6.214844 2 6.496094 2 Z M 5 5 L 6 5 L 6 12 L 5 12 Z M 7 5 L 8 5 L 8 12 L 7 12 Z M 9 5 L 10 5 L 10 12 L 9 12 Z"/>
							</svg>
						</div>
					</mat-chip>
				</mat-chip-list>
			</div>
			<mat-form-field class="example-full-width" *ngIf="userAction">
				<input type="text" placeholder="Телефон или имя" aria-label="Number" name="inputSearch" matInput [(ngModel)]="inputChange" [matAutocomplete]="auto" (keyup)="change()">
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngFor="let item of searchUser" [value]="item.login" (click)="pushUser(item)">
						<div class="option">
							<div class="img">
								<app-img [fs]="item.img" [dir]="'avatar'" *ngIf="item.img !== ''; else usersvg"></app-img>
								<ng-template #usersvg>
									<img src="./assets/images/user.svg" alt="user-svg">
								</ng-template>
							</div>
              <div>
                {{item.name}}
                {{item.login}}
              </div>
						</div>
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
			<mat-form-field class="example-full-width" *ngIf="cityAction && city && city.length>0">
          <mat-label>Город</mat-label>
          <mat-select (valueChange)="setCityFiltr($event)">
            <mat-option *ngFor="let item of city" [value]="item._id">
              {{item.name}}
            </mat-option>
          </mat-select>
			</mat-form-field>
			<div class="group-buttons">
				<div class="left">
				</div>
				<div class="right">
					<button class="main-button-color" type="submit">Отправить</button>
				</div>
			</div>
		</form>

    <div class="main-section">
      <div class="table">
        <table class="table">
          <tr class="t-title">
            <td style="min-width: 150px">Заголовок</td>
            <td style="min-width: 250px">Описание</td>
            <td style="min-width: 100px">Глобальний пуш</td>
            <td style="min-width: 140px">Город</td>
            <td style="min-width: 160px">Клиент</td>
            <td style="min-width: 140px">Дата</td>
          </tr>
          <tr class="row-r" *ngFor="let item of listHistory; let index = index">
            <td>
              {{item.title}}
            </td>
            <td>
              {{item.description}}
            </td>
            <td>
              {{item.global}}
            </td>
            <td>
              {{item.city ? item.city.name : '–'}}
            </td>
            <td>
              <div class="client">
                <div *ngIf="item.clients.length === 0">–</div>
                <div class="item" *ngFor="let client of item.clients">
                  {{client.login}}
                </div>
              </div>

            </td>
            <td>
              <div class="date">
                <div class="top-table-date">
                  {{item.date | date: 'dd MMMM, yyyy'  : null : defLang}}
                </div>
                <div class="bottom-table-date">
                  {{item.date | date: 'HH:mm'  : null : defLang}}
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <mat-paginator [length]="lengthPagination"
                     [pageSize]="pageSizePagination"
                     [pageSizeOptions]="pageSizeOptionsPagination"
                     (page)="pageEvent($event)"
                     *ngIf="listHistory && listHistory.length > 0">
      </mat-paginator>
      <div class="empty-section" *ngIf="loadHistory && listHistory && listHistory.length === 0">
        <p>
          История пуш уведомлений пуста
        </p>
      </div>
    </div>

  </div>
</div>
