.img-container {
  width: 100%;
  height: 270px;
  float: left;
}

.img-preview {
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 10px;
}
.btn-wrap{
  display: flex;
  justify-content: right;
}
.cansel-popup-btn{
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #009688;
  padding: 7px 16px;
  font-size: 14px;
  margin: 15px 0 auto auto;
}
.wrap-cropper{
  display: flex;
  flex-direction: column;
}
