<div class="sign">
  <div class="sign-content">
    <h3>{{t_signup[language]}}</h3>
    <form class="form" (submit)="signup($event)">
      <span class="error" *ngIf="dataError.name && !data['name']">{{errors[dataError.name][language]}}</span>
      <input type="text" [placeholder]="t_nameplaceholder[language]"  name="name" [(ngModel)]="data['name']">

      <span class="error" *ngIf="dataError.login && !data['login']">{{errors[dataError.login][language]}}</span>
      <app-phone (phone)="data['login'] = $event"></app-phone>

      <span class="error" *ngIf="dataError.pass && !data['pass']">{{errors[dataError.pass][language]}}</span>
      <input type="password" class="pass-inp" placeholder="Пароль" autocomplete="off" name="pass" [(ngModel)]="data['pass']">
      <span class="error error-tel" *ngIf="dataError.tel">{{errors[dataError.tel][language]}}</span>

      <div class="buttons">
        <button type="submit" class="main-button-bold continue">{{t_submit[language]}}</button>
        <a routerLink="/{{language}}" class="main-button-bold no-color">{{t_cancel[language]}}</a>
        <span class="text-buttons">
          {{t_or[language]}}
        </span>
        <a routerLink="/{{language}}/login" class="main-button-bold no-color">{{t_enter[language]}}</a>
      </div>
    </form>
  </div>
</div>
<app-verification *ngIf="verification" [data]="data"></app-verification>
