.empty-address{
  text-align: center;
  font-size: 14px;
}
.confirm-address{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 4;
  background: #fff;
  padding: 0 15px;
}
.other-pages{
  padding: 70px 0 40px;
  max-width: 768px;
  margin: 20px auto 10px;
}
::ng-deep .address-mat{
  border-radius: 30px!important;
  box-shadow: none!important;
  border: 1px solid #E4E4E4!important;
  margin-bottom: 15px!important;
}
::ng-deep .mat-expansion-panel-header{
  padding: 13px 20px 13px!important;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
  background: #3ab14c;
}
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #3ab14c;
}
.title-panel{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .img{
    display: flex;
    justify-content: center;
    max-width: 22px;
    min-width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 9px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .title{
    font-size: 14px;
  }
}
.content{
  padding: 0 15px;
  .address-info{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    .address-info{
      width: 50%;
      padding: 5px;
    }
    .city{
      display: flex;
      align-items: center;
      svg{
        margin-right: 5px;
      }
    }
    .comment{
      padding: 5px;
      color: rgba(0, 0, 0, 0.51);
    }
  }
  .edit-address{
    display: block;
    color: #3ab14c;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    margin: 15px 0 5px;
    font-size: 14px;
    line-height: 17px;
  }
}
