<div class="confirm-address">
  <div class="other-header">
    <a routerLink="/{{language}}" class="back">
      <svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.646446 3.64645C0.451185 3.84171 0.451185 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.73079 4.34027 7.73079 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.97631 4.7308 0.659727 4.53553 0.464465C4.34027 0.269203 4.02369 0.269203 3.82843 0.464465L0.646446 3.64645ZM18 3.5L1 3.5L1 4.5L18 4.5L18 3.5Z" fill="white"/>
      </svg>
    </a>
    <h2>
      {{translate.choose[language]}}
    </h2>
    <app-basket-item></app-basket-item>
  </div>
  <div class="other-pages" *ngIf="loading">
    <ng-container *ngIf="address && address.length === 0">
      <p class="empty-address">
        {{translate.empty[language]}}
      </p>
      <button routerLink="/{{language}}/new-address" class="main-button color">
        {{translate.create[language]}}
      </button>
    </ng-container>
    <mat-radio-group [(ngModel)]="addressChoose">
      <mat-accordion>
        <mat-expansion-panel class="address-mat" *ngFor="let item of address">
          <mat-expansion-panel-header expandedHeight="*" collapsedHeight="*">
            <mat-panel-title>
              <div class="title-panel">
                <mat-radio-button [value]="item"></mat-radio-button>
                <div class="img">
                  <app-img [fs]="item.img" [dir]="'address'" [anyFs]="'assets/images/provider.svg'"></app-img>
                </div>
                <div class="title">
                  {{item.name}}
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="content">
            <div class="address-info">
              <div class="city address-info">
                <svg width="15" height="20" viewBox="0 0 15 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.0692 4.38281C5.6597 4.38281 4.51245 5.53006 4.51245 6.93956C4.51245 8.34906 5.6597 9.49631 7.0692 9.49631C8.4787 9.49631 9.62595 8.34906 9.62595 6.93956C9.62595 5.53006 8.4787 4.38281 7.0692 4.38281ZM7.0692 8.76581C6.06221 8.76581 5.24295 7.94656 5.24295 6.93956C5.24295 5.93257 6.06221 5.11331 7.0692 5.11331C8.0762 5.11331 8.89545 5.93257 8.89545 6.93956C8.89545 7.94656 8.0762 8.76581 7.0692 8.76581Z" fill="black"/>
                  <path d="M11.9574 2.05161C10.6344 0.728674 8.87537 0 7.00456 0C5.13339 0 3.37471 0.728674 2.05177 2.05161C-0.396498 4.49952 -0.700751 9.10532 1.39286 11.8958L7.00456 20L12.6079 11.9072C14.7099 9.10532 14.4056 4.49952 11.9574 2.05161ZM12.0154 11.4802L7.00456 18.7165L1.98566 11.4689C0.086728 8.93694 0.358839 4.77747 2.5686 2.56807C3.75347 1.3832 5.3288 0.7305 7.00456 0.7305C8.68033 0.7305 10.2557 1.3832 11.4409 2.56807C13.6507 4.77747 13.9228 8.93694 12.0154 11.4802Z" fill="black"/>
                </svg>
                {{item.city.name}}
              </div>
              <div class="home address-info">
                {{translate.buil[language]}} {{item.build}}
              </div>
              <div class="street address-info">
                {{translate.street[language]}} {{item.street}}
              </div>
              <div class="flat address-info">
                {{translate.department[language]}} {{item.department}}
              </div>
              <div class="comment">
                {{item.comment}}
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-radio-group>
    <div class="buttons">
      <button class="main-button color" (click)="outputConfirmAddress.emit(addressChoose)" *ngIf="addressChoose">
        {{translate.btn1[language]}}
      </button>
      <button class="back-btn" (click)="cancelConfirmAddress.emit(false)">
        {{translate.btn2[language]}}
      </button>
    </div>
  </div>
</div>
