<div class="other-header" *ngIf="language">
  <app-back-btn></app-back-btn>
  <h2>
    {{translate.title[language]}}
  </h2>
</div>

<div class="other-pages" *ngIf="companyArr">
  <ng-container *ngIf="companyArr.length>0; else empty">
    <cdk-virtual-scroll-viewport itemSize="65" class="viewport" appAllProviders [cityId]="curentCity._id" (output)="output($event)">
      <app-provider-item [data]="company" *cdkVirtualFor="let company of companyArr" [single]="true"></app-provider-item>
    </cdk-virtual-scroll-viewport>
  </ng-container>
</div>
<ng-template #empty>
  <div class="empty">
    {{data.company[language]}}
  </div>
</ng-template>
