<div class="other-header">
    <app-back-btn></app-back-btn>
    <h2>
        {{translate.title[language]}}
    </h2>
</div>

<form (submit)="save($event)" class="other-pages">
  <p>
      {{translate.empty[language]}}
  </p>
  <div class="form">
    <input type="text" placeholder="Название торговой точки" name="name" [(ngModel)]="address.name">
    <div class="city-block">
      <mat-form-field *ngIf="cities" >
        <mat-label>
            {{translate.city[language]}}
        </mat-label>
        <mat-select [(value)]="address.city" (selectionChange)="select($event)">
          <mat-option *ngFor="let city of cities" [value]="city._id">
            {{city.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <input type="text" placeholder="Улица" name="street" [(ngModel)]="address.street">
    <div class="home">
      <input type="text" placeholder="Дом" name="build" [(ngModel)]="address.build">
      <input type="text" placeholder="Квартира" name="department" [(ngModel)]="address.department">
    </div>
    <input type="text" placeholder="Дополнительно" name="comment" [(ngModel)]="address.comment">
    <div class="photo-upload">
      <div class="img" *ngIf="address.img">
        <app-img [dir]="'address'" [fs]="address.img" [anyFs]="''"></app-img>
      </div>
        <div class="mat-chip-file" *ngIf="address && address.img">
            <div class="content">{{address.img.split('--')[1]}}</div>
            <div class="remove-mat-chip" (click)="removeImg()"></div>
        </div>
      <app-upload (onCrop)="onFs($event)" [cropper]="true" [dir]="'address'" *ngIf="!address.img"></app-upload>
    </div>
  </div>
  <button class="main-button color " type="submit">
    {{translate.save[language]}}
  </button>
  <a routerLink="/{{language}}/my-address" class="back-btn">
      {{translate.back[language]}}
  </a>
</form>
