//.create-client{
//  .buttons{
//    display: flex;
//    align-items: center;
//    justify-content: flex-start;
//    margin: 30px 0;
//    button{
//      width: 200px;
//      &:nth-of-type(1){
//        margin-right: 50px;
//      }
//      &:nth-of-type(2){
//        margin-right: 50px;
//      }
//    }
//  }
//
//  .form{
//    display: flex;
//    flex-direction: column;
//    input{
//      width: 100%;
//      box-shadow: none;
//      border: 0;
//      border-bottom: 1px solid #DFE0EB;
//      padding: 15px 0;
//      margin-bottom: 15px;
//    }
//    button{
//      margin: 30px 0 50px auto;
//    }
//  }
//}

.group-buttons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 50px;
  .right{
    display: flex;
    align-items: center;
    button{
      &:nth-of-type(2){
        margin-left: 20px;
      }
    }
  }
}
table {
  width: 100%;
}

.paginator-table{
  display: none;
}

.paginator-table-active{
  display: block;
}

.right-section-table {
  padding: 19px 0 !important;
}

.filter{
  width: 100%;
}

.example-full-width {
  width: 100%;
}
