<div class="other-header basket-header">
  <app-back-btn></app-back-btn>
  <h2>
    {{translate.title[language]}}
  </h2>
  <app-basket-item></app-basket-item>
</div>
<ng-container *ngIf="loading">
  <ng-container *ngIf="baskets && baskets.length === 0">
    <div class="other-pages">
      <p class="empty-basket">
        {{translate.empty[language]}}
      </p>
    </div>
  </ng-container>
  <div class="other-pages" *ngIf="baskets && baskets.length > 0">
    <mat-accordion *ngFor="let basket of baskets">
      <app-basket-order-item [data]="basket" (removeBasket)="removeBasket($event)"></app-basket-order-item>
    </mat-accordion>
  </div>
</ng-container>
<app-remove-basket-item *ngIf="removeItem"></app-remove-basket-item>
