.action-item{
  display: flex;
  flex-direction: column;
  margin:10px auto 20px;
  .img{
    position: relative;
    border-radius: 15px;
    height: 200px;
    width: 100%;
    overflow: hidden;
    img{
      border-radius: 15px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .title-provider{
      display: flex;
      align-items: center;
      border-radius: 15px 15px 0 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 8px 15px;
      background: rgba(255, 255, 255, 0.85);
      z-index: 3;
      .img-company{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 5px;
      }
      svg{
        margin-right: 10px;
      }
    }
  }
  .title-action{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0 10px;
  }
  p{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
  }
  .date{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #3ab14c;
    margin-top: 5px;
  }
}

@media (min-width: 414px) {
  .action-item {
    .img {
      max-height: 250px;
    }
  }
}
@media (min-width: 545px) {
  .action-item {
    .img {
      max-height: 300px;
    }
  }
}

::ng-deep .img-s{
  img {
    object-fit: cover;
  }
}
