::ng-deep .address-panel{
  border-radius: 30px!important;
  box-shadow: none!important;
  border: 1px solid #E4E4E4!important;
  margin-bottom: 15px!important;
}
::ng-deep .address-panel .mat-expansion-panel-body{
  padding: 0!important;
}
::ng-deep .mat-expansion-panel-header{
  padding: 13px 15px!important;
}
.title-panel{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .img{
    display: flex;
    justify-content: center;
    max-width: 22px;
    min-width: 22px;
    height: 22px;
    border-radius: 5px;
    margin-right: 9px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .title{
    font-size: 14px;
  }
}
.content{
  .address-info{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 10px;
    .address-info{
      width: 50%;
      padding: 5px;
    }
    .city{
      display: flex;
      align-items: center;
      svg{
        margin-right: 5px;
      }
    }
    .comment{
      padding: 5px;
      color: rgba(0, 0, 0, 0.51);
    }
  }
  .edit-address, .remove-address{
    display: block;
    color: #3ab14c;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    margin: 10px 0 5px;
    font-size: 14px;
    line-height: 17px;
  }
  .remove-address{
    color: #E21B1B;
  }
}
