.dashboard{
  &__orders-status{
    padding: 20px 0 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #EBEBEB;
    .title{
      color: #009688;
      font-weight: 600;
      font-size: 21px;
      line-height: 26px;
    }
    .order__status-box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 25px 0 0;
      .status-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 150px;
        .count{
          font-weight: bold;
          font-size: 60px;
          line-height: 73px;
          &.new{
            color: #009688;
          }
          &.confirm{
            color: #FFC700;
          }
          &.edit{
            color: #FF7A00;
          }
          &.done{
            color: #000;
          }
          &.cancel{
            color: #6B6B6B;
          }
        }
        .title{
          color: #748AA1;
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
        }
      }
    }
  }
  .chart{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 15px 0 30px;
    .chart-date{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 15px;
      .date{
        span{
          &:nth-of-type(2){
            margin-right: 15px;
          }
        }
        .date-box{
          display: inline-flex;
          align-items: center;
          svg{
            margin-right: 5px;
          }
          .mat-date-pick{
            width: 90px;
            color: #31394D;
          }
          .date-input{
            border: 0;
            border-bottom:1px solid #DADADA;
            width: 100%;
          }
          &:nth-of-type(1){
            margin-right: 10px;
          }
        }
      }
    }
    &-item{
      position: relative;
      width: 100%;
      margin-bottom: 20px;
      canvas{
        width: 100%;
        height: 100%;
        max-height: 400px;
      }
    }
  }
}

.show-chart{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0;
  button{
    width: 200px;
  }
}

@media (max-width: 992px) {
  .dashboard{
    &__orders-status{
      .order__status-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .status-item {
          min-width: 200px;
          margin-bottom: 25px;
        }
      }
    }
  }
}
