<div class="sign">
	<div class="sign-content">
		<ng-container *ngIf="!showConfirm && !showSuccess">
			<h3>
				{{translate.title[language]}}
			</h3>
      <p>Введите номер телефона для получения смс</p>
			<form (submit)="phone($event)" class="form">
				<app-phone (phone)="objLogin['login'] = $event"></app-phone>
				<button type="submit" class="main-button-bold">
					{{translate.btn[language]}}
				</button>
				<div class="buttons">
					<a [routerLink]="'/'+language+'/login'" class="main-button-bold no-color">
						Назад
					</a>
				</div>
			</form>
		</ng-container>
		<ng-container *ngIf="showConfirm && !showSuccess">
			<h3>
				{{translate.title[language]}}
			</h3>
			<form (submit)="confirm($event)" class="form-forgot">
				<input type="text" [placeholder]="translate.input[language]" name="confirm" [(ngModel)]="objConfirm.smsCode">
				<input type="password" [placeholder]="translate.pass[language]" name="confirm" [(ngModel)]="objConfirm.pass">
				<button type="submit" class="main-button-bold">
					{{translate.confirm[language]}}
				</button>
			</form>
		</ng-container>
		<ng-container *ngIf="showSuccess">
			<h3>
				{{translate.titleSuc[language]}}
			</h3>
			<button class="main-button-bold" [routerLink]="'/'+language" *ngIf="showLogin">
				{{translate.btnLogin[language]}}
			</button>
		</ng-container>
	</div>
</div>
