form{
  input{
    font-size: 18px;
    text-align: center;
  }
}

.sign-content p{
  margin-top: 10px;
  margin-bottom: 40px;
}
.sign-content h3{
  margin-bottom: 0;
}
.form-forgot{
  margin-top: 30px!important;
}
