<ng-container *ngIf="!loading">
	<app-loading></app-loading>
</ng-container>
<div class="contain" *ngIf="basketCopy">
	<div class="contain__group">
		<div class="contain__group-header">
			<div class="title">
				Заказ № {{basketCopy.basketNumber}}
			</div>
			<div class="status-info">
				<div class="name" *ngIf="basketCopy.manager && basketCopy.manager.name">
					{{basketCopy.manager.name ? basketCopy.manager.name : 'Отсутствует'}}
				</div>
				<div class="status" [innerHTML]="basketCopy.status | status | safeHTML">
				</div>
			</div>
		</div>

		<div class="add-section">
			<div class="main-info">
				<div class="info-item info-date">
					<div class="title">
						Дата создания:
					</div>
					<div class="content">
						{{basketCopy.date | date: 'dd MMMM, yyyy'  : null : defLang}}
						-
						{{basketCopy.date | date: 'hh:mm'  : null : defLang}}
					</div>
				</div>
				<div class="info-item info-name">
					<div class="title">
						Имя:
					</div>
					<div class="content">
						{{basketCopy.createdBy && basketCopy.createdBy.name ? basketCopy.createdBy.name : 'Неизвестно'}}
					</div>
				</div>
				<div class="info-item info-address">
					<div class="title">
						Адресс доставки:
					</div>
					<div class="content">
						<ng-container *ngIf="basketCopy.deliveryAddress">
							{{basketCopy.deliveryAddress.city.name}},
							ул. {{basketCopy.deliveryAddress.street}}
							Дом {{basketCopy.deliveryAddress.build}}
							Квартира {{basketCopy.deliveryAddress.department}}
						</ng-container>
						<ng-container *ngIf="!basketCopy.deliveryAddress">
							Адресс не доступен
						</ng-container>
					</div>
				</div>
				<div class="info-item info-address">
					<div class="title">
						Способ оплаты
					</div>
					<div class="content">
						{{basketCopy.payMethod ? basketCopy.payMethod : '–'}}</div>
				</div>
				<div class="info-item info-address">
					<div class="title">
						Сообщение клиенту
					</div>
					<div class="content">
						{{basketCopy.description ? basketCopy.description : '–'}}
						<img class="edit-description" src="./assets/images/edit-d.svg" alt="edit description"
							*ngIf="basketCopy.status === 1" (click)="showDescription()">
					</div>
				</div>
			</div>
			<div class="product-box">
				<div class="product-item">
					<div class="name h">
						Продукт
					</div>
					<div class="count h">
						Количество
					</div>
					<div class="price h">
						Цена
					</div>
					<div class="price h">
						Дата отсрочки
					</div>
				</div>
				<div class="product-item" *ngFor="let item of basketCopy.products; let i = index">
					<div class="name">
						{{item.orderOwner ? item.orderOwner.name : 'Неизвестно'}}
					</div>
					<div class="count">
						<svg class="decrement" *ngIf="editBasket" (click)="decrement(i)" width="20" height="20" viewBox="0 0 20 20"
							fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M19.6429 10C19.6429 15.3256 15.3256 19.6429 10 19.6429C4.6744 19.6429 0.357144 15.3256 0.357144 10C0.357144 4.6744 4.6744 0.357144 10 0.357144C15.3256 0.357144 19.6429 4.6744 19.6429 10Z"
								stroke="#009688" stroke-width="0.714287" />
							<path d="M5.71387 9.28564H14.2853V10.7142H5.71387V9.28564Z" fill="#748AA1" />
						</svg>
						<span class="count-item">{{item.count ? item.count : 'Неизвестно'}} шт.</span>

						<svg class="increment" *ngIf="editBasket" (click)="increment(i)" width="20" height="20" viewBox="0 0 20 20"
							fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M19.6429 10C19.6429 15.3256 15.3256 19.6429 10 19.6429C4.6744 19.6429 0.357144 15.3256 0.357144 10C0.357144 4.6744 4.6744 0.357144 10 0.357144C15.3256 0.357144 19.6429 4.6744 19.6429 10Z"
								stroke="#009688" stroke-width="0.714287" />
							<path
								d="M10.6083 9.4626H14.0067V10.9274H10.6083V14.7779H9.05135V10.9274H5.6529V9.4626H9.05135V5.90511H10.6083V9.4626Z"
								fill="#748AA1" />
						</svg>
					</div>
					<div class="price">
						{{item.price ? item.price : 'Неизвестно'}} Грн.
					</div>
					<div class="price">
						{{ item.delayDate ? item.delayDate.substring(0, 10) : '-' }}
					</div>
					<button class="main-button remove" *ngIf="editBasket" (click)="removeProduct(i)">Удалить</button>
				</div>
			</div>

			<div class="group-buttons">
				<div class="left">
					Всего
					<div class="total-price">
						{{basketCopy.totalPrice}}
					</div>
					Грн.
				</div>
				<div class="right">
					<ng-container *ngIf="!editBasket">
						<button class="main-button back" [routerLink]="'/orders'">Назад</button>
						<button class="main-button remove" *ngIf="basketCopy.status === 1" (click)="cancel()">Отменить</button>
						<button class="main-button edit" *ngIf="basketCopy.status === 1"
							(click)="editBasket = true">Редактировать</button>
						<button class="main-button-color" *ngIf="basketCopy.status === 1" (click)="takeOrder()">Взять заказ</button>
						<button class="main-button-color"
							*ngIf="basketCopy.status === 2 && user._id === basketCopy.manager._id || user.role === 'provider'"
							(click)="done()">Готово</button>
					</ng-container>
					<ng-container *ngIf="editBasket">
						<button class="main-button back" (click)="cancelEdit()">Назад</button>
						<button class="main-button-color" *ngIf="basketCopy.status === 1"
							(click)="confirmDescriptionSubmit()">Сохранить</button>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="dialog" *ngIf="dialogOpen">
	<div class="dialog-content">
		<form (submit)="descriptionSubmit()">
			<h2>Сообщение клиенту</h2>
			<textarea name="description" [(ngModel)]="basketCopy.description"></textarea>
			<div class="buttons">
				<button class="main-button back" (click)="basketCopy.description = ''; dialogOpen = false">Отмена</button>
				<button type="submit" class="main-button-color">Сохранить</button>
			</div>
		</form>
	</div>
	<div class="dialog-close"></div>
</div>
