.raiting-component{
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: #fff;
}
.headline{
  color: #3ab14c;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin-top: 80px;
}
.svg{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  svg{
    margin: 0 5px;
  }
}
.comment-input{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0 30px;
  input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #A3A3A3;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 5px 10px;
    color: #000;
    margin: 0 auto;
    width: 290px;
  }
}



::ng-deep .mat-rating-big .mat-ic{
  height: auto!important;
  font-size: 60px!important;
}
::ng-deep .mat-rating-big button{
  width: 60px!important;
  max-width: 60px!important;
  height: 55px!important;
}
::ng-deep .mat-rating-big{
  height: 40px;
}
