.client-cart {
  display: flex;
  align-items: center;
}
.client-cart app-img {
  max-width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  display: flex;
}

.address{
  display: flex;
}
.address-cart *{
  font-size: 12px;
}
.address-cart .basketNumber{
  font-size: 10px;
  color: #999;
}
.address-cart{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 5px 12px;
  margin: 5px;
  border-radius: 5px;
}
.detail-data .glass{
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
button:focus{
  outline: none;
}
button:hover svg{
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}
button {
  border: none;
  background: transparent;
}
button svg{
  display: block;
  width: 25px;
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  cursor: pointer;
  border-radius: 50%;
}

.example-full-width{
  width: 100%;
}
.link:hover{
  text-decoration: none;
}
.link{
  color: #336f99;
  text-decoration: underline;
  cursor: pointer;
}
.w-day{
  display: flex;
  flex-wrap:wrap;
  margin: 0;
  padding: 0 0 20px;
}
.day{
  list-style: none;
  cursor: pointer;
  border: 1px solid #7d7c7c;
  margin: 5px 10px;
  padding: 5px 15px;
  border-radius: 5px;
  transition: .3s;
  &.active{
    background: #009688;
    border: 1px solid #009688;
    color: #fff;
  }
}
.day:hover{
  background: #009688;
  border: 1px solid #009688;
  color: #fff;
}
.btn{
  display: flex;
}
.btn button{
  background: #009688;
  border: 1px solid #009688;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0,0,0,.3);
  margin-left: auto;
  padding: 5px 10px;
  transition: .5s;
  cursor: pointer;
  margin-top: 25px;
}
.btn button:hover{
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}
table {
  border-collapse: collapse;
}

@media (max-width:440px) {
  .day{
    width:100%;
  }
}

.table-container{
  overflow-x: auto;
}
