
<mat-form-field class="example-full-width">
  <input type="text" placeholder="Для поиска клиента введите имя или телефон" aria-label="Number" name="inputSearch" matInput [(ngModel)]="inputChange" (keyup)="change()">
</mat-form-field>
<div class="table-container">
  <table *ngIf="loaded; else loader" class="infoBy table">
    
    <ng-container *ngIf="dataPayed.length > 0; else empty">
      <tr class="t-title">
        <td>Клиент</td>
        <td>Заказов</td>
        <td>Последняя покупка</td>
        <td>Напоминание</td>
        <td></td>
      </tr>
      
      <tr *ngFor="let data of dataPayed">
        <td>
          <ng-container *ngIf="data.clientOwner">
            <div class="client-cart">
              <app-img [fs]="data.clientOwner.img" [dir]="'avatar'"></app-img>
              <span>
              {{data.name}}
                <ng-container *ngIf="data.mobile">
                <br> {{data.mobile}}
              </ng-container>
              <ng-container *ngIf="!data.mobile">
                <br> {{data.login}}
              </ng-container>
            </span>
            </div>
          </ng-container>
        </td>
        <td>{{data.basketCount}}</td>
        <td>
          <div class="date">
            <div class="top-table-date">
              {{data.lastUpdate | date: 'dd MMMM, yyyy'}}
            </div>
            <div class="bottom-table-date">
              {{data.lastUpdate | date: 'HH:mm'}}
            </div>
          </div>
        </td>
        <td>
          <ng-container *ngIf="data.pushDay && data.pushDay.length > 0">
            в
            <ng-container *ngFor="let day of data.pushDay">
              {{days[day]}}
            </ng-container> <br>
          </ng-container>
          <span class="link" (click)="openSet(data)">настроить</span>
        </td>
        <td>
          <button (click)="details(data.clientOwner)">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info-circle" class="svg-inline--fa fa-info-circle fa-w-16" role="img" viewBox="0 0 512 512"><path fill="#009688" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"/></svg>
          </button>
        </td>
      </tr>
    </ng-container>
  </table>
</div>
<mat-paginator [length]="lengthPagination"
               [pageSize]="pageSizePagination"
               [pageSizeOptions]="pageSizeOptionsPagination"
               (page)="pageEvent($event)"
                *ngIf="dataPayed && dataPayed.length>0"
>
</mat-paginator>

<div class="detail-data" *ngIf="data">
  <div class="popup"  appPopup (onClose)="close()">
    <div class="content">
      <div class="cancel cansel-popup-btn">
        <svg fill="none" height="15" viewBox="0 0 15 15" width="15" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-ltd-c12="" d="M14.8221 13.9619L8.36014 7.49995L14.822 1.03809C15.0595 0.800639 15.0595 0.41559 14.822 0.17811C14.5845 -0.0593701 14.1995 -0.0593701 13.962 0.17811L7.50016 6.63997L1.03825 0.17811C0.800798 -0.0593701 0.41575 -0.0593701 0.17827 0.17811C-0.0592098 0.415561 -0.0592098 0.80061 0.17827 1.03809L6.64015 7.49995L0.17827 13.9619C-0.0592098 14.1993 -0.0592098 14.5844 0.17827 14.8218C0.415721 15.0593 0.800769 15.0593 1.03825 14.8218L7.50016 8.35993L13.9621 14.8218C14.1995 15.0593 14.5846 15.0593 14.8221 14.8218C15.0595 14.5844 15.0595 14.1993 14.8221 13.9619Z" fill="black"></path></svg>
      </div>
      <div class="basket" >
        <div class="des">
          <div class="field">
            ФИО: <span>{{data.name}}</span>
          </div>
          <div class="field">
            Телефон: <span>
            <ng-container *ngIf="data.mobile">
                {{data.mobile}}
              </ng-container>
              <ng-container *ngIf="!data.mobile">
                {{data.login}}
              </ng-container>
          </span>
          </div>
          <hr>
          <div class="products">
            <div class="product">
              <h2>Список адресов</h2>
              <table>
                <tr class="t-title">
                  <td>Имя</td>
                  <td>Описание</td>
                  <td>Адресс</td>
                </tr>
                <tr *ngFor="let address of data.addresses">
                  <ng-container *ngIf="address">
                    <td>
                      <div class="name-wrap">
                        <div class="p-img" *ngIf="address.img">
                          <app-img [dir]="'address'" [fs]="address.img"></app-img>
                        </div>
                        <div class="p-name">{{address.name}}</div>
                      </div>
                    </td>
                    <td>{{address.comment}}</td>
                    <td>
                      <div>
                        <ng-container *ngIf="address.city.name">
                          {{address.city.name}} <br>
                        </ng-container>
                        <ng-container *ngIf="address.street">
                          ул. {{address.street}}
                        </ng-container>
                        <ng-container *ngIf="address.build">
                          {{address.build}}
                        </ng-container>
                        <ng-container *ngIf="address.department">
                         /{{address.department}}
                        </ng-container>

                      </div>
                    </td>

                  </ng-container>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="detail-data" *ngIf="dataSet">
  <div class="popup"  appPopup (onClose)="closeSet()">
    <div class="content">
      <div class="cancel cansel-popup-btn">
        <svg fill="none" height="15" viewBox="0 0 15 15" width="15" xmlns="http://www.w3.org/2000/svg"><path d="M14.8221 13.9619L8.36014 7.49995L14.822 1.03809C15.0595 0.800639 15.0595 0.41559 14.822 0.17811C14.5845 -0.0593701 14.1995 -0.0593701 13.962 0.17811L7.50016 6.63997L1.03825 0.17811C0.800798 -0.0593701 0.41575 -0.0593701 0.17827 0.17811C-0.0592098 0.415561 -0.0592098 0.80061 0.17827 1.03809L6.64015 7.49995L0.17827 13.9619C-0.0592098 14.1993 -0.0592098 14.5844 0.17827 14.8218C0.415721 15.0593 0.800769 15.0593 1.03825 14.8218L7.50016 8.35993L13.9621 14.8218C14.1995 15.0593 14.5846 15.0593 14.8221 14.8218C15.0595 14.5844 15.0595 14.1993 14.8221 13.9619Z" fill="black"></path></svg>
      </div>
      <div class="days">
        <p>Сообщение будет отправлено в 9:30</p>
        <p>
          <ng-container *ngIf="dataSet.pushDay && dataSet.pushDay.length > 0">
            в
            <ng-container *ngFor="let day of dataSet.pushDay">
              {{days[day]}}
            </ng-container> <br>
          </ng-container>
        </p>
        <ul class="w-day">
          <li class="day" [class.active]="activeDays[1]" (click)="pushSave(1)">Понедельник</li>
          <li class="day" [class.active]="activeDays[2]" (click)="pushSave(2)">Вторник</li>
          <li class="day" [class.active]="activeDays[3]" (click)="pushSave(3)">Среда</li>
          <li class="day" [class.active]="activeDays[4]" (click)="pushSave(4)">Четверг</li>
          <li class="day" [class.active]="activeDays[5]" (click)="pushSave(5)">Пятница</li>
          <li class="day" [class.active]="activeDays[6]" (click)="pushSave(6)">Суббота</li>
          <li class="day" [class.active]="activeDays[0]" (click)="pushSave(0)">Воскресенье</li>
        </ul>
        <div class="btn">
          <button class="ibox-tools" (click)="pushSaveSend(dataSet)">Сохранить</button>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #loader> Loading...</ng-template>
<ng-template #empty > Клиент не найден</ng-template>
