.example-full-width{
  width: 100%;
}
.translate-chip{
  color: #fff;
  background: #8C8C8C;
  box-shadow: 0 4px 12px rgba(71, 71, 71, 0.32);
  border-radius: 50px;
  position: relative;
  padding: 0;
  .chip-content{
    padding: 8px 35px 8px 20px;
  }
  &:hover{
    background: #696969;
    &.ok{
      background: #009688;
      .chip-btn{
        background: #006A61;
      }
    }
  }
}
.popup{
  display: block;
  padding: 15px;
  z-index: 2;
  position: relative;
  background-color: #fff;
  .close{
    position: absolute;
    padding: 15px;
    right: 0;
    top: 0;
    cursor: pointer;
  }
}
.wrap-popup{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 13;
}
form{
  display: flex;
  flex-direction: column;
  min-width: 360px;
  max-width: 560px;
  height: max-content;
  padding: 10px 15px;
  p{
    margin-bottom: 5px;
  }
  textarea{
    font-size: 14px;
    padding: 10px;
    height: 150px;
    width: 100%;
    border: 1px solid rgba(157, 156, 155, 0.78);
  }
  button{
    display: block;
    margin: 15px 0 15px auto;
  }
}
.glases{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.ok{
  color: #fff;
  background: #009688;
}

.mat-standard-chip{
  max-height: max-content;
  height: 100%;
}

.ok .chip-btn{
  background: #009688;
}

.chip-btn{
  border-radius: 50%;
  width: 20px;
  min-width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #868686;
  margin-left: 5px;
  cursor: pointer;
  margin-right: -5px;
}

.chip-btn-remove{
  z-index: 132;
  position: absolute;
  right: 10px;
}
