.dashboard{
  width: calc(100% + 50px);
  margin-left: -25px;
  background: #F5F6FA;
  margin-top: -25px;
  &__header{
    padding-bottom: 20px;
    &-title{
      color: #009688;
      font-weight: 600;
      font-size: 21px;
      line-height: 26px;
      padding: 15px 0;
    }
    &-filter{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      box-shadow: 0 1px 4px #E5E9F2;
      border-radius: 5px;
      background: #fff;
      padding: 0 30px;
      .date, .city, .providers{
        display: flex;
        align-items: center;
        span{
          color: #748AA1;
          margin-right: 10px;
        }
      }
      .date{
        span{
          &:nth-of-type(2){
            margin-right: 15px;
          }
        }
        .date-box{
          display: inline-flex;
          align-items: center;
          svg{
            margin-right: 5px;
          }
          .mat-date-pick{
            width: 90px;
            color: #31394D;
          }
          .date-input{
            border: 0;
            border-bottom:1px solid #DADADA;
            width: 100%;
          }
          &:nth-of-type(1){
            margin-right: 10px;
          }
        }
      }
      .city{
        display: inline-flex;
        align-items: center;
        margin: 0 auto 0 50px;
        .select-city{
          width: 80px;
          margin-bottom: -5px;
        }
      }
      .providers{

      }
    }
  }
  &__box{
    .table-all{
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      .all-row{
        display: flex;
        align-items: center;
        width: 100%;
        background: #EFFFFE;
        .all-col{
          padding: 20px 30px;
          &:nth-of-type(1){
            width: 70%;
            border-right: 1px solid #DADADA;
          }
          &:nth-of-type(2){
            width: 30%;
          }
        }
        &.head{
          color: #fff;
          background: #009688;
          border-radius: 5px 5px 0 0;
        }
      }
    }
  }
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix{
  //padding: 3px 0 3px;
}

.main-table{
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  background: #fff;
  .main-row{
    display: flex;
    width: 100%;
    background: #fff;
    .main-col{
      display: flex;
      align-items: center;
      padding: 15px 30px;
      border-bottom: 1px solid #DADADA;
      &:nth-of-type(1){
        width: 25%;
        min-width: 200px;
        border-right: 1px solid #DADADA;
      }
      &:nth-of-type(2){
        width: 25%;
        min-width: 200px;
        border-right: 1px solid #DADADA;
      }
      &:nth-of-type(3){
        width: 25%;
        min-width: 200px;
        border-right: 1px solid #DADADA;
      }
      &:nth-of-type(4){
        width: 25%;
        min-width: 200px;
      }
      .date-item{

      }
    }
    &.head{
      color: #fff;
      background: #009688;
      border-radius: 5px 5px 0 0;
      width: 100%;
      .main-col{
        padding: 20px 30px;
      }
    }
  }
}

@media (max-width: 1200px){
  .dashboard {
    &__header {
      &-title {
        font-size: 18px;
        line-height: 24px;
      }

      &-filter {
        .date, .city, .providers{
          span{
            font-size: 14px;
          }
        }
      }
    }
    &__box{
      .table-all{
        .all-row{
          .all-col{
            font-size: 14px;
          }
        }
      }
      .main-table{
        .main-row{
          .main-col{
            font-size: 14px;
            padding: 20px 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .dashboard {
    &__header {
      &-filter {
        height: auto;
        flex-wrap: wrap;
        .date{
          width: auto;
        }
        .city{
          width: auto;
          min-width: 140px;
          margin-left: 30px;
        }
        .providers{
          width: 100%;
        }
        .date, .city, .providers {

        }
      }
    }
    &__box{

      .table-all{
        .all-row{
          .all-col{
            padding: 10px 20px;
          }
        }
      }
      .main-table{
        .main-row{
          .main-col{
            padding: 10px 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .dashboard {
    &__box{
      .main-table{
        .main-row{
          width: max-content;
          .main-col{
            padding: 10px 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .dashboard {
    &__header {
      &-filter {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        .date{
          width: 100%;
          margin: 15px 0;
        }
        .city{
          width: 100%;
          margin-left: 0;
        }
        .providers{
          width: 100%;
        }
      }
    }
  }
}
.link{
  color: #009688;
  text-decoration: underline;
  cursor: pointer;
}
