.client-cart {
  display: flex;
  align-items: center;
}
.client-cart app-img {
  max-width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  display: flex;
}
//.infoBy {
//  width: 100%;
//}
//.infoBy tr{
//  //border-bottom: 2px solid #ececec;
//  box-shadow: 0px 2px 0px 0px #c3c1c1;
//}
//.infoBy td{
//  padding: 5px 8px;
//  align-items: center;
//  //border-bottom: 2px solid #ececec;
//}
.address{
  display: flex;
}
.address-cart *{
  font-size: 12px;
}
.address-cart .basketNumber{
  font-size: 10px;
  color: #999;
}
.address-cart{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 5px 12px;
  margin: 5px;
  border-radius: 5px;
}
.detail-data .glass{
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
button:focus{
  outline: none;
}
button:hover svg{
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}
button {
  border: none;
  background: transparent;
}
button svg{
  display: block;
  width: 25px;
  box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  cursor: pointer;
  border-radius: 50%;
}

.w-more {
  display: flex;
  width: 100%;
}
.more {
  margin: 25px 0 40px auto;
  padding: 10px 65px;
  background: #009688;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.31);
}

.chart-date{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  margin-top: 15px;
  .date{
    span{
      margin-right: 10px;
      &:nth-of-type(2){
        margin-right: 15px;
      }
    }
    .date-box{
      display: inline-flex;
      align-items: center;
      svg{
        margin-right: 5px;
      }
      .mat-date-pick{
        width: 90px;
        color: #31394D;
      }
      .date-input{
        border: 0;
        border-bottom:1px solid #DADADA;
        width: 100%;
      }
      &:nth-of-type(1){
        margin-right: 10px;
      }
    }
  }
}
