<ng-container *ngIf="!loading">
	<app-loading></app-loading>
</ng-container>
<div class="other-header">
	<app-back-btn></app-back-btn>
	<h2 *ngIf="brand">{{brand.name | trans:language}}</h2>
	<app-basket-item></app-basket-item>
</div>

<div class="other-pages">
	<div class="filter-sort">
		<div class="sort">
			<mat-form-field class="sort-select">
				<mat-select [(value)]="selectedSort" (selectionChange)="sortChanges()">
					<mat-option [value]="0">
						{{translate.sort1[language]}}
					</mat-option>
					<mat-option [value]="1">
						{{translate.sort2[language]}}
					</mat-option>
					<mat-option [value]="2">
						{{translate.sort3[language]}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
	
	<div class="products" *ngIf="loading">
		<cdk-virtual-scroll-viewport *ngIf="orders && orders.length>0" itemSize="120" class="viewport" appProvideBrandProductUpload [sort]="sort" [id]="id" [companyId]="companyId" (output)="getOutput($event)">
			<app-product-item *cdkVirtualFor="let order of orders" [data]="order" [company]="order.companyOwner"></app-product-item>
		</cdk-virtual-scroll-viewport>
		<div class="empty" *ngIf="orders && orders.length === 0">
			{{translate.empty[language]}}
		</div>
	</div>
</div>
