<ng-container *ngIf="data && !provider">
  <span class="discount" [class.single]="single" (click)="show($event)">
      <span class="item"></span>
    </span>
</ng-container>
<ng-container *ngIf="data && provider">
  <div class="provider-block-loyalty" (click)="close()">
    <span class="color">
      <img src="/assets/images/sale.svg" alt="">
    </span>
    Лояльность
  </div>
</ng-container>

<ng-container *ngIf="detail">
  <div appPopup class="pop" (onClose)="close()">
    <div class="loyalty">
      <div class="cansel-popup-btn close" (click)="close()">
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.8221 13.9619L8.36014 7.49995L14.822 1.03809C15.0595 0.800639 15.0595 0.41559 14.822 0.17811C14.5845 -0.0593701 14.1995 -0.0593701 13.962 0.17811L7.50016 6.63997L1.03825 0.17811C0.800798 -0.0593701 0.41575 -0.0593701 0.17827 0.17811C-0.0592098 0.415561 -0.0592098 0.80061 0.17827 1.03809L6.64015 7.49995L0.17827 13.9619C-0.0592098 14.1993 -0.0592098 14.5844 0.17827 14.8218C0.415721 15.0593 0.800769 15.0593 1.03825 14.8218L7.50016 8.35993L13.9621 14.8218C14.1995 15.0593 14.5846 15.0593 14.8221 14.8218C15.0595 14.5844 15.0595 14.1993 14.8221 13.9619Z" fill="black"/>
        </svg>
      </div>
      <div class="loyalty-header">
        {{translate[language]}}
      </div>
      <div class="loyalty-info" *ngFor="let item of data.loyalty">
        <div class="img">

        </div>
        <div class="info">
          <div class="name">
            {{discountT[language]}} -
            <div class="count">
              {{item.discount}} %
            </div>
          </div>
          <div class="name">
            {{sumT[language]}} -
            <div class="count">
              {{item.sum}} Грн
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
