.viewport{
  height: calc(100vh - 100px - 60px);
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  margin-top: 15px;
  &::-webkit-scrollbar { width: 0 !important }
}
