<div class="other-header">
  <app-back-btn></app-back-btn>
  <h2>
    {{translate.title[language]}}
  </h2>
  <app-basket-item></app-basket-item>
</div>

<div class="other-pages" *ngIf="action">
  <app-action-item [obj]="action"></app-action-item>
  <div class="buttons">
    <a routerLink="/{{language}}/provider/{{action.companyOwner._id}}" class="main-button color">
      {{translate.btn_provider[language]}}
    </a>
    <a routerLink="/{{language}}/product/{{action.orderOwner}}" class="main-button color" *ngIf="action.orderOwner">
      {{translate.btn_product[language]}}
    </a>
    <a (click)="back()" class="back-btn">
      {{translate.btn_back[language]}}
    </a>
  </div>
</div>
