<div class="cropper-wrap" *ngIf="srcImg">
  <div class="cropper-img" >
    <div class="sliser">
      <img src="{{srcImg}}"  #image alt="" id="cropper-img" class="img-croper">
    </div>
    <div class="mask" [crop]="width" [rate]="rate" (data)="send($event)"></div>
    <div class="mask-glass">
      <div class="t"></div>
      <div class="r"></div>
      <div class="l"></div>
      <div class="b"></div>
    </div>
  </div>
  <div class="cropper-sliser"></div>
</div>
<ng5-slider [(value)]="max" [options]="options" (userChange)="priceFilterFunc()" (userChangeEnd)="priceFilterFuncEnd()"></ng5-slider>
