<ng-container *ngIf="!loading">
	<app-loading></app-loading>
</ng-container>
<div class="contain">
	<div class="contain__group"  *ngIf="addShow">
		<div class="contain__group-header">
			<div class="title">
				Акция
			</div>
		</div>
		<div class="no-content" *ngIf="products && products.length === 0">
			<p>
				У вас нет продуктов, вы не можете создать акцию
			</p>
			<button class="main-button" type="reset" (click)="cancelAdd()">Отмена</button>
		</div>
		<ng-container *ngIf="access">
			<form class="add-section" (submit)="create($event)" *ngIf="products && products.length > 0">
				<mat-form-field class="example-full-width">
					<input matInput type="text" placeholder="Название акции" name="name" [(ngModel)]="action.name" autocomplete="off">
				</mat-form-field>
				<mat-form-field class="example-full-width">
					<input matInput type="text" placeholder="Описание акции" name="description" [(ngModel)]="action.description" autocomplete="off">
				</mat-form-field>
				<div class="product-check">
					<mat-checkbox class="check-item" [(ngModel)]="actionForProduct" name="actionForProduct">Додать продукт до акции</mat-checkbox>
					<mat-form-field *ngIf="actionForProduct">
						<mat-label>Продукты</mat-label>
						<mat-select [(value)]="productChoose">
							<mat-option *ngFor="let item of products" [value]="item._id">
								{{item.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="block-check">
					<mat-checkbox class="check-item" [(ngModel)]="globalAction" name="global" (change)="changeTypeActionGlobal()">Глобальная акция</mat-checkbox>
					<mat-checkbox class="check-item" [(ngModel)]="userAction" name="user" (change)="changeTypeActionUser()">Для клиента</mat-checkbox>
				</div>
				<div class="chips-box" *ngIf="userChoose && userChoose.length > 0">
					<mat-chip-list aria-label="Fish selection">
						<mat-chip class="chip-item" *ngFor="let item of userChoose; let index = index">
							{{item.login}}
							<div class="remove" (click)="removeUserChip(index)">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="15" height="15" fill="#c1c1c1">
									<path d="M 6.496094 1 C 5.675781 1 5 1.675781 5 2.496094 L 5 3 L 2 3 L 2 4 L 3 4 L 3 12.5 C 3 13.328125 3.671875 14 4.5 14 L 10.5 14 C 11.328125 14 12 13.328125 12 12.5 L 12 4 L 13 4 L 13 3 L 10 3 L 10 2.496094 C 10 1.675781 9.324219 1 8.503906 1 Z M 6.496094 2 L 8.503906 2 C 8.785156 2 9 2.214844 9 2.496094 L 9 3 L 6 3 L 6 2.496094 C 6 2.214844 6.214844 2 6.496094 2 Z M 5 5 L 6 5 L 6 12 L 5 12 Z M 7 5 L 8 5 L 8 12 L 7 12 Z M 9 5 L 10 5 L 10 12 L 9 12 Z"/>
								</svg>
							</div>
						</mat-chip>
					</mat-chip-list>
				</div>
				<mat-form-field class="example-full-width" *ngIf="userAction">
					<input type="text" placeholder="Имя или телефон" aria-label="Number" name="inputSearch" matInput [(ngModel)]="inputChange" [matAutocomplete]="auto" (keyup)="change()">
					<mat-autocomplete #auto="matAutocomplete">
						<mat-option *ngFor="let item of searchUser" [value]="item.login" (click)="pushUser(item)">
							<div class="option">
								<div class="img">
									<app-img [fs]="item.img" [dir]="'avatar'" *ngIf="item.img !== ''; else usersvg"></app-img>
									<ng-template #usersvg>
										<img src="./assets/images/user.svg" alt="user-svg">
									</ng-template>
								</div>
								{{item.name}}
								{{item.login}}
							</div>
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
				<div class="datepikers">
					<mat-form-field class="pik">
						<input matInput [matDatepicker]="picker" name="date1" [min]="date" [(ngModel)]="action.dateStart" (focus)="picker.open()" placeholder="Дата начала акции" (dateChange)="dateChange()">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
					<mat-form-field class="pik">
						<input matInput [matDatepicker]="picker2" name="date2" [max]="maxDate" [min]="action.dateStart" [(ngModel)]="action.dateEnd" (focus)="picker2.open()" placeholder="Дата окончания акции">
						<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker #picker2></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="group-buttons">
					<div class="left">
						<div class="img" *ngIf="action.img">
							<app-img [fs]="action.img" [dir]="'product'"></app-img>
						</div>
						<app-upload (onCrop)="onFs($event)" [dir]="'product'" [cropper]="true" [rate]="[2,1]" *ngIf="action && action.img === ''"></app-upload>
						<div class="mat-chip-file" *ngIf="action && action.img !== ''">
							<div class="content">{{action.img}}</div>
							<div class="remove-mat-chip" (click)="action.img = ''"></div>
						</div>
					</div>
					<div class="right">
						<button class="main-button" type="reset" (click)="cancelAdd()">Отмена</button>
						<button class="main-button-color" type="submit">Сохранить</button>
					</div>
				</div>
			</form>
		</ng-container>
		<ng-container *ngIf="!access">
			<p>
				Можно создавать только одну акцию на день
			</p>
		</ng-container>
	</div>

	<div class="contain__group"  *ngIf="editShow">
		<div class="contain__group-header">
			<div class="title">
				Редактировать акцию
			</div>
		</div>
		<form (keyup)="formCheck()" (submit)="confirmEditCategoryCrud($event)" class="edit-section" *ngIf="editShow">
			<mat-form-field class="example-full-width">
				<input matInput type="text" placeholder="Название акции" name="name" [(ngModel)]="editObj.name" autocomplete="off">
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<input matInput type="text" placeholder="Описание акции" name="description" [(ngModel)]="editObj.description" autocomplete="off">
			</mat-form-field>
			<mat-form-field *ngIf="editObj && editObj.orderOwner">
				<mat-label>Product</mat-label>
				<mat-select [(value)]="productChoose" (selectionChange)="selectValid()">
					<mat-option *ngFor="let item of products" [value]="item._id">
						{{item.name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<div class="chips-box" *ngIf="editObj && editObj.client.length > 0">
				<mat-chip-list aria-label="Fish selection">
					<mat-chip class="chip-item" *ngFor="let item of userChoose; let index = index">
						{{item.login}}
					</mat-chip>
				</mat-chip-list>
			</div>
			<div class="datepikers">
				<mat-form-field class="pik">
					<input matInput [matDatepicker]="picker" name="date1" [min]="date" [(ngModel)]="editObj.dateStart" (focus)="picker.open()" placeholder="Дата начала акции" (dateChange)="editDateChange()">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
				<mat-form-field class="pik">
					<input matInput [matDatepicker]="picker2" name="date2" [max]="maxDate" [min]="editObj.dateStart" [(ngModel)]="editObj.dateEnd" (focus)="picker2.open()" placeholder="Дата окончания акции">
					<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
					<mat-datepicker #picker2></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="group-buttons">
				<div class="left">
					<div class="img" *ngIf="editObj.img">
						<app-img [fs]="editObj.img" [dir]="'product'"></app-img>
					</div>
					<app-upload (onCrop)="onFsEdit($event)" [dir]="'product'" [cropper]="true" [rate]="[3,2]" *ngIf="editObj && editObj.img === ''"></app-upload>
					<div class="mat-chip-file" *ngIf="editObj && editObj.img !== ''">
						<div class="content">{{editObj.img.split("--")[1]}}</div>
						<div class="remove-mat-chip" (click)="editObj.img = ''; formCheck()"></div>
					</div>
				</div>
				<div class="right">
					<button class="main-button" type="reset" (click)="cancelEdit()">Отмена</button>
					<button class="main-button-color" type="submit"  *ngIf="isBlok">Сохранить</button>
				</div>
			</div>
		</form>
	</div>

	<div class="contain__group">
		<div class="contain__group-header">
			<div class="title">
				Все акции
			</div>
			<button class="button-add" (click)="openAdd()">
				<span class="content">Создать акцию</span>
			</button>
		</div>
		<ng-container class="loading" *ngIf="!loading">
			<app-loading></app-loading>
		</ng-container>
		<div class="main-section">
			<app-search-filter class="filter-top" [inputApi]="'action'" [inputQuery]="'description'" [populate]="'client'" (output)="outputSearch($event)"></app-search-filter>
			<mat-tab-group (selectedIndexChange)="tabChange($event)" [animationDuration]="0">
				<mat-tab label="Текущие акции">
				</mat-tab>
				<mat-tab label="История акций">
				</mat-tab>
			</mat-tab-group>
			<div class="table-content">
				<div class="content" *ngIf="loading">
					<table *ngIf="actions && actions.length > 0" class="table">
						<tr class="t-title">
							<td>Название</td>
							<td>Описание</td>
							<td>Товар</td>
							<td>Клиенты</td>
							<td>Период</td>
							<td></td>
						</tr>
						<tr *ngFor="let item of actions; let i = index">
							<td>
								<!--{{item.name}}-->
                <div class="col jcc" >
                  <div class="img" style="border-radius: 0;">
                    <app-img [fs]="item.img" [dir]="'product'"></app-img>
                  </div>
                  <div class="name">{{item.name}}</div>
                </div>
							</td>
              <td>
                {{item.description}}
              </td>
							<td>
                <div class="col jcc" *ngIf="item.orderOwner">
                  <div class="img">
                    <app-img [fs]="item.orderOwner.img" [dir]="'product'"></app-img>
                  </div>
                  <div class="name">{{item.orderOwner.name}}</div>
                </div>
							</td>
							<td>
                <ng-container *ngIf="item.client && item.client.length>0; else clnt">
                  <div *ngFor="let client of item.client" class="client-cart">
                    <div class="col jcc" >
                      <div class="img">
                        <app-img [fs]="client.img" [dir]="'avatar'"></app-img>
                      </div>
                      <div class="name">
                        <span>{{client.name}}</span>
                        <span>
                          {{client.login}}
                        </span>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-template #clnt>-</ng-template>
							</td>
							<td>
								<div class="date">
				                  <div class="top-table-date">
				                    {{item.dateStart | date: 'dd MMMM, yyyy' : null : defLang}}
				                  </div>
									<div class="top-table-date">
										{{item.dateEnd | date: 'dd MMMM, yyyy' : null : defLang}}
									</div>
									<!--<div class="bottom-table-date">-->
										<!--{{item.date | date: 'HH:mm' : null : defLang}}-->
									<!--</div>-->
								</div>
							</td>
							<td>
								<div class="buttons-edit">
									<span class="edit-btn" (click)="edit(i)" appScrollTop></span>
									<span class="trash-btn" (click)="delete(i)"></span>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<mat-paginator [length]="lengthPagination"
			               [pageSize]="pageSizePagination"
			               [pageSizeOptions]="pageSizeOptionsPagination"
			               (page)="pageEvent($event)"
			               *ngIf="!showFilter && actions && actions.length > 0">
			</mat-paginator>
			<div class="empty-section" *ngIf="!showFilter && actions && actions.length === 0">
				<p>
					Акции отсутствуют
				</p>
			</div>
		</div>
	</div>

</div>
