<div class="main-header">
<!--  <ng-container  *ngIf="loaded.action; else backImg">-->
<!--    <div class="back-img" *ngIf="action && action.length>0">-->
<!--      <div class="img">-->
<!--        <app-img [fs]="action[0].img"></app-img>-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-container>-->
  <a routerLink="/{{language}}/city" class="city">
      <span class="chose-city">
        <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.06512 4.383C6.65562 4.383 5.50837 5.53025 5.50837 6.93975C5.50837 8.34925 6.65562 9.4965 8.06512 9.4965C9.47462 9.4965 10.6219 8.34925 10.6219 6.93975C10.6219 5.53025 9.47462 4.383 8.06512 4.383ZM8.06512 8.766C7.05812 8.766 6.23887 7.94674 6.23887 6.93975C6.23887 5.93275 7.05812 5.1135 8.06512 5.1135C9.07211 5.1135 9.89137 5.93275 9.89137 6.93975C9.89137 7.94674 9.07211 8.766 8.06512 8.766Z" fill="white"/>
            <path d="M12.9533 2.05161C11.6303 0.728674 9.8713 0 8.00049 0C6.12932 0 4.37064 0.728674 3.0477 2.05161C0.599432 4.49952 0.295178 9.10532 2.38879 11.8958L8.00049 20L13.6038 11.9072C15.7058 9.10532 15.4016 4.49952 12.9533 2.05161ZM13.0114 11.4802L8.00049 18.7165L2.98159 11.4689C1.08266 8.93694 1.35477 4.77747 3.56453 2.56807C4.7494 1.3832 6.32473 0.7305 8.00049 0.7305C9.67626 0.7305 11.2516 1.3832 12.4368 2.56807C14.6466 4.77747 14.9187 8.93694 13.0114 11.4802Z" fill="white"/>
        </svg>
        <ng-container *ngIf="curentCity && curentCity.name">
          {{translate.city_s[language]}}
          <ng-container> {{curentCity.name | trans:language }}</ng-container>
        </ng-container>
        <ng-container *ngIf="!curentCity.name">
          {{translate.city[language]}}
        </ng-container>
      </span>
    <span class="search">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.8245 18.98L14.9642 14.1197C16.268 12.6208 17.0573 10.6652 17.0573 8.52772C17.0573 3.82262 13.2303 0 8.52961 0C3.82451 0 0.00189209 3.82705 0.00189209 8.52772C0.00189209 13.2284 3.82894 17.0554 8.52961 17.0554C10.6671 17.0554 12.6227 16.2661 14.1216 14.9623L18.9819 19.8226C19.0972 19.9379 19.2524 20 19.4032 20C19.554 20 19.7092 19.9424 19.8245 19.8226C20.0551 19.592 20.0551 19.2106 19.8245 18.98ZM1.1948 8.52772C1.1948 4.48337 4.48526 1.19734 8.52518 1.19734C12.5695 1.19734 15.8556 4.4878 15.8556 8.52772C15.8556 12.5676 12.5695 15.8625 8.52518 15.8625C4.48526 15.8625 1.1948 12.5721 1.1948 8.52772Z" fill="#1C1C1C"/>
        </svg>
      </span>
  </a>
  <a routerLink="/{{language}}/basket" class="basket">
    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.6747 20.3906C15.5565 20.3906 14.6874 21.3086 14.6874 22.4268C14.6874 23.5449 15.6054 24.4629 16.6747 24.4629C17.744 24.4629 18.662 23.5449 18.662 22.4268C18.662 21.3086 17.744 20.3906 16.6747 20.3906ZM16.6747 23.4424C16.1132 23.4424 15.7079 22.9834 15.7079 22.4219C15.7079 21.8604 16.1669 21.4014 16.6747 21.4014C17.1825 21.4014 17.6415 21.8604 17.6415 22.4219C17.6415 22.9834 17.1825 23.4424 16.6747 23.4424Z" fill="#1C1C1C"/>
      <path d="M5.83002 20.3906C4.71185 20.3906 3.84271 21.3086 3.84271 22.4268C3.84271 23.5449 4.76068 24.4629 5.83002 24.4629C6.94818 24.4629 7.81732 23.5449 7.81732 22.4268C7.81732 21.3086 6.89935 20.3906 5.83002 20.3906ZM5.83002 23.4424C5.26849 23.4424 4.86322 22.9834 4.86322 22.4219C4.86322 21.8604 5.32221 21.4014 5.83002 21.4014C6.39154 21.4014 6.79681 21.8604 6.79681 22.4219C6.79681 22.9883 6.34271 23.4424 5.83002 23.4424Z" fill="#1C1C1C"/>
      <path d="M21.4599 0.537109L20.6689 3.64258H0.688446L4.37497 14.5654C3.13962 14.7461 2.21677 15.791 2.21677 17.1338C2.21677 18.6084 3.33493 19.7803 4.76071 19.7803H18.6084V18.8135H4.76071C3.89645 18.8135 3.23239 18.1006 3.23239 17.1826C3.23239 16.2646 3.94528 15.5518 4.76071 15.5518H18.6084H18.6572L22.2705 1.55273H24.3066V0.537109H21.4599ZM17.8955 14.5361H5.42477L2.11423 4.6582H20.3906L17.8955 14.5361Z" fill="#1C1C1C"/>
      <path d="M8.17383 7.05078H7.15332V12.8027H8.17383V7.05078Z" fill="#009688"/>
      <path d="M11.792 7.05078H10.7715V12.8027H11.792V7.05078Z" fill="#009688"/>
      <path d="M15.4052 7.05078H14.3847V12.8027H15.4052V7.05078Z" fill="#009688"/>
    </svg>
    <div class="count" *ngIf="loadingCount">
        {{count}}
    </div>
  </a>
</div>
<ng-container *ngIf="!loaded.brand || !loaded.category || !loaded.topCompany || !loaded.topCompany">
  <app-loading></app-loading>
</ng-container>
<ng-container *ngIf="loaded.action; else preloadAction">
  <div class="carousel" *ngIf="action && action.length>0">
    <mat-carousel>
      <mat-carousel-slide *ngFor="let item of action">
        <div class="item" [routerLink]="'/'+language+'/action/'+item._id">
          <app-img class="action-img" [fs]="item.img" [dir]="'product'"></app-img>
        </div>
      </mat-carousel-slide>
    </mat-carousel>
  </div>
</ng-container>
<ng-container *ngIf="loaded.category; else preloadCat">
  <div class="category" *ngIf="category.length > 0">
    <div class="category-header">
      <h3>
        {{translate.category[language]}}
      </h3>
      <a routerLink="/{{language}}/category">
        {{translate.all_s[language]}}
      </a>
    </div>
    <div class="category-box">
      <a routerLink="/{{language}}/category/{{item.name}}" class="category-box-item" *ngFor="let item of category">
        <div class="svg">
          <div class="img">
            <app-img [fs]="item.mainCategory.img ? item.mainCategory.img : ''" [anyFs]="'assets/images/brand.svg'"></app-img>
          </div>
        </div>
        <div class="title">
          {{item.name}}
        </div>
      </a>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="loaded.brand; else preloadBrand">
  <div class="brandy" *ngIf="brandy.length > 0">
    <div class="category-header">
      <h3>
        {{translate.brands[language]}}
      </h3>
      <a routerLink="/{{language}}/brands">
        {{translate.all_s[language]}}
      </a>
    </div>
    <div class="category-box">
      <a routerLink="/{{language}}/brand/{{item.name}}" class="category-box-item" *ngFor="let item of brandy">
        <div class="brandy-svg">
          <div class="img">
            <app-img class="brand-ind" [fs]="item.img ? item.img : ''" [dir]="'product'" [anyFs]="'assets/images/brand.svg'"></app-img>
          </div>
        </div>
        <div class="title">
          {{item.name}}
        </div>
      </a>
    </div>
  </div>
</ng-container>
<div class="popular-section" *ngIf="topCompany && topCompany.length>0; else emptyCompany">
  <div class="popular-section-button">
    <button [class.active]="toggleMain" (click)="toggleMain = true">
      {{translate.provider[language]}}
    </button>
    <button [class.active]="!toggleMain" (click)="toggleMain = false">
      {{translate.goods[language]}}
    </button>
  </div>
  <div class="popular-section-box" *ngIf="toggleMain">
    <ng-container *ngIf="loaded.topCompany">
      <ng-container *ngFor="let it of topCompany">
        <app-provider-item [data]="it" [isTop]="true"></app-provider-item>
      </ng-container>
    </ng-container>
  </div>
  <div class="popular-section-box" *ngIf="!toggleMain">
    <ng-container *ngIf="loaded.topProduct">
      <ng-container *ngFor="let it of topProduct">
        <app-product-item [data]="it" [company]="it.companyOwner"></app-product-item>
      </ng-container>
    </ng-container>
  </div>
  <a routerLink="/{{language}}/provider-all" class="index-all" *ngIf="toggleMain && topCompanyCount > topCompany.length>0">
    {{translate.allProdviders[language]}}
  </a>
  <div class="empty" *ngIf="topProduct && !toggleMain && topProduct.length === 0">
    {{translate.emptyTop[language]}}
  </div>
  <div class="btn-wrap" *ngIf="!toggleMain">
    <a routerLink="/{{language}}/product-all/all" class="index-all">
      {{translate.allProducts[language]}}
    </a>
    <a routerLink="/{{language}}/product-all/top" class="index-all" *ngIf="topProduct && topProduct.length > 0">
      {{translate.allTopProducts[language]}}
    </a>
  </div>
</div>

<ng-template #preloadCat>
  <div class="category">
    <div class="category-header">
      <h3>
        {{translate.category[language]}}
      </h3>
    </div>
    <div class="category-box">
      <span class="category-box-item" *ngFor="let item of [1,2,3,4,5]">
        <div class="svg icon-preload"></div>
        <div class="title title-preload"></div>
      </span>
    </div>
  </div>
</ng-template>
<ng-template #preloadBrand>
  <div class="brandy">
    <div class="category-header">
      <h3>
        {{translate.brands[language]}}
      </h3>
    </div>
    <div class="category-box">
      <span class="category-box-item" *ngFor="let item of [1,2,3,4,5]">
        <div class="brandy-svg icon-preload"></div>
        <div class="title title-preload"></div>
      </span>
    </div>
  </div>
</ng-template>

<ng-template #preloadAction>
  <div class="carousel">
    <div class="item">
      <img src="./assets/images/product.svg" alt="">
    </div>
  </div>
</ng-template>

<ng-template #backImg>
  <div class="back-img">
    <div class="img">
      <img src="./assets/images/product.svg" alt="">
    </div>
  </div>
</ng-template>

<ng-template #emptyCompany>
  <div class="empty-company" *ngIf="loaded.brand && loaded.category && loaded.topCompany && loaded.topCompany">
    {{translate.emptyCountry[language]}}
  </div>
</ng-template>
