::ng-deep .mat-accordion .raiting-history{
  border-radius: 15px 15px 15px 15px!important;
  box-shadow: none!important;
  border: 1px solid #E4E4E4!important;
  margin-bottom: 15px!important;
  max-width: calc(100% - 30px);
}
::ng-deep .mat-expansion-panel-header{
  padding: 12px 15px!important;
}
::ng-deep .mat-expansion-panel-body{
  padding: 0 16px 16px!important;
}

::ng-deep .mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]){
  background: #fff!important;
}

::ng-deep .raiting.mat-ic{
  height: auto!important;
  font-size: 16px;
}
::ng-deep .mat-rating button{
  width: 16px!important;
  max-width: 16px!important;
}
::ng-deep .mat-rating{
  height: 17px;
}

.raiting-panel-remove{
  position: relative;
  .remove{
    position: absolute;
    right: 0;
    top: calc(50% - 6px);
  }
}
.title-panel{
  .title{
    display: flex;
    align-items: center;
    .raiting{
      //margin-top: -4px;
    }
    .raiting-title{
      margin-left: 15px;
      font-size: 14px;
      line-height: 17px;
    }
  }
}
.comment{
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}
.bottom-section{
  display: flex;
  align-items: center;
  padding: 10px 0;
  line-height: 17px;
  svg{
    margin-right: 10px;
  }
}
.img-comp{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  overflow: hidden;
}
