<div class="other-header">
  <app-back-btn></app-back-btn>
  <h2>{{data.mydata[language]}}</h2>
</div>

<div class="other-pages">
  <div class="my-info" *ngIf="me">
    <div class="img">
      <app-img  [dir]="'avatar'" [fs]="me.img ? me.img : ''" [anyFs]="'assets/images/user.svg'"></app-img>
    </div>
    <span class="replace" (click)="replace()" *ngIf="me.img">Изменить</span>
    <app-upload (onCrop)="onFs($event)" [cropper]="true"  [dir]="'avatar'" *ngIf="!me.img"></app-upload>
    <p>{{data.article[language]}}</p>
    <form class="form" (submit)="save($event)" (keyup)="formCheck()">
      <input type="text" [placeholder]="data.input[language]" [(ngModel)]="me.name" name="name">
      <app-phone [other]="true" [number]="me.mobile" (phone)="me.mobile" (change)="formCheck()"></app-phone>
      <button type="submit" class="main-button color" [class.isblock]="isBlok" *ngIf="isBlok">{{data.save[language]}}</button>
      <div class="pass">
        <input class="pass-input" type="text" [placeholder]="data.inputPass[language]" name="password" (keyup)="passErr = ''" [(ngModel)]="newPass">
        <p class="status error" *ngIf="passErr">{{passErr}}</p>
        <span *ngIf="newPass.length>0" class="main-button color pass-btn" (click)="setNewPass()">
          {{data.passBtn[language]}}
        </span>
      </div>
    </form>
    <a routerLink="/{{language}}/profile" class="back-btn">{{data.back[language]}}</a>
  </div>
</div>
